# Explora aquí

Se recomienda utilizar este cuaderno con fines de exploración.

In [18]:
import os
from bs4 import BeautifulSoup
import requests
import time
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns

resource_url = 'https://ycharts.com/companies/TSLA/revenues'

# Configurar encabezados para evitar el bloqueo
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/86.0.4240.183 Safari/537.36'
}

# Esperar unos segundos antes de la solicitud
time.sleep(4)

# Hacer la solicitud con encabezados
response = requests.get(resource_url, headers=headers)


# Si la petición se ha ejecutado correctamente (código 200), entonces el contenido HTML de la página se ha podido descargar
if response.status_code == 200:
    # Transformamos el HTML plano en un HTML real (estructurado y anidado, con forma de árbol)
    soup = BeautifulSoup(response.text, 'html.parser') # es más actual que usar solo 'html'

soup

tabla = soup.find_all(class_='panel panel-data')
tabla

[<div class="panel panel-data">
 <div class="panel-header">
 <h3 class="panel-title">Revenue (Quarterly) Chart</h3>
 </div>
 <div class="panel-content">
 <div class="chart-cover">
 <div class="chart-interactive">
 <div class="chart-item">
 <div class="chart-options">
 <div class="chart-legend legend-off-chart">
 <div class="chart-legend-item">
 <span class="chart-legend-item-title"></span>
 </div>
 </div>
 </div>
 <div class="chart-wrap">
 <div class="chart-canvas"></div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>,
 <div class="panel panel-data">
 <div class="panel-header">
 <h3 class="panel-title">Historical Revenue (Quarterly) Data</h3>
 </div>
 <div class="panel-content">
 <div class="chart-options">
 <div class="panel-ad-cta">
                         View and export this data back to 2008.
                         <a href="/start_trial/histData">Upgrade now.</a>
 </div>
 </div>
 <div class="row">
 <div class="col-6">
 <table class="table">
 <thead>
 <tr>
 <th>Date</th>
 <th class="text-right">Value</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>September 30, 2024</td>
 <td class="text-right">

                                 25.18B

                         </td>
 </tr>
 <tr>
 <td>June 30, 2024</td>
 <td class="text-right">

                                 25.50B

                         </td>
 </tr>
 <tr>
 <td>March 31, 2024</td>
 <td class="text-right">

                                 21.30B

                         </td>
 </tr>
 <tr>
 <td>December 31, 2023</td>
 <td class="text-right">

                                 25.17B

                         </td>
 </tr>
 <tr>
 <td>September 30, 2023</td>
 <td class="text-right">

                                 23.35B

                         </td>
 </tr>
 <tr>
 <td>June 30, 2023</td>
 <td class="text-right">

                                 24.93B

                         </td>
 </tr>
 <tr>
 <td>March 31, 2023</td>
 <td class="text-right">

                                 23.33B

                         </td>
 </tr>
 <tr>
 <td>December 31, 2022</td>
 <td class="text-right">

                                 24.32B

                         </td>
 </tr>
 <tr>
 <td>September 30, 2022</td>
 <td class="text-right">

                                 21.45B

                         </td>
 </tr>
 <tr>
 <td>June 30, 2022</td>
 <td class="text-right">

                                 16.93B

                         </td>
 </tr>
 <tr>
 <td>March 31, 2022</td>
 <td class="text-right">

                                 18.76B

                         </td>
 </tr>
 <tr>
 <td>December 31, 2021</td>
 <td class="text-right">

                                 17.72B

                         </td>
 </tr>
 <tr>
 <td>September 30, 2021</td>
 <td class="text-right">

                                 13.76B

                         </td>
 </tr>
 <tr>
 <td>June 30, 2021</td>
 <td class="text-right">

                                 11.96B

                         </td>
 </tr>
 <tr>
 <td>March 31, 2021</td>
 <td class="text-right">

                                 10.39B

                         </td>
 </tr>
 <tr>
 <td>December 31, 2020</td>
 <td class="text-right">

                                 10.74B

                         </td>
 </tr>
 <tr>
 <td>September 30, 2020</td>
 <td class="text-right">

                                 8.771B

                         </td>
 </tr>
 <tr>
 <td>June 30, 2020</td>
 <td class="text-right">

                                 6.036B

                         </td>
 </tr>
 <tr>
 <td>March 31, 2020</td>
 <td class="text-right">

                                 5.985B

                         </td>
 </tr>
 <tr>
 <td>December 31, 2019</td>
 <td class="text-right">

                                 7.384B

                         </td>
 </tr>
 <tr>
 <td>September 30, 2019</td>
 <td class="text-right">

                                 6.303B

                         </td>
 </tr>
 <tr>
 <td>June 30, 2019</td>
 <td class="text-right">

                                 6.35B

                         </td>
 </tr>
 <tr>
 <td>March 31, 2019</td>
 <td class="text-right">

                                 4.541B

                         </td>
 </tr>
 <tr>
 <td>December 31, 2018</td>
 <td class="text-right">

                                 7.226B

                         </td>
 </tr>
 <tr>
 <td>September 30, 2018</td>
 <td class="text-right">

                                 6.824B

                         </td>
 </tr>
 </tbody>
 </table>
 </div>
 <div class="col-6">
 <table class="table">
 <thead>
 <tr>
 <th>Date</th>
 <th class="text-right">Value</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>June 30, 2018</td>
 <td class="text-right">

                                     4.002B

                             </td>
 </tr>
 <tr>
 <td>March 31, 2018</td>
 <td class="text-right">

                                     3.409B

                             </td>
 </tr>
 <tr>
 <td>December 31, 2017</td>
 <td class="text-right">

                                     3.288B

                             </td>
 </tr>
 <tr>
 <td>September 30, 2017</td>
 <td class="text-right">

                                     2.985B

                             </td>
 </tr>
 <tr>
 <td>June 30, 2017</td>
 <td class="text-right">

                                     2.790B

                             </td>
 </tr>
 <tr>
 <td>March 31, 2017</td>
 <td class="text-right">

                                     2.696B

                             </td>
 </tr>
 <tr>
 <td>December 31, 2016</td>
 <td class="text-right">

                                     2.285B

                             </td>
 </tr>
 <tr>
 <td>September 30, 2016</td>
 <td class="text-right">

                                     2.298B

                             </td>
 </tr>
 <tr>
 <td>June 30, 2016</td>
 <td class="text-right">

                                     1.270B

                             </td>
 </tr>
 <tr>
 <td>March 31, 2016</td>
 <td class="text-right">

                                     1.147B

                             </td>
 </tr>
 <tr>
 <td>December 31, 2015</td>
 <td class="text-right">

                                     1.214B

                             </td>
 </tr>
 <tr>
 <td>September 30, 2015</td>
 <td class="text-right">

                                     936.79M

                             </td>
 </tr>
 <tr>
 <td>June 30, 2015</td>
 <td class="text-right">

                                     954.98M

                             </td>
 </tr>
 <tr>
 <td>March 31, 2015</td>
 <td class="text-right">

                                     939.88M

                             </td>
 </tr>
 <tr>
 <td>December 31, 2014</td>
 <td class="text-right">

                                     956.66M

                             </td>
 </tr>
 <tr>
 <td>September 30, 2014</td>
 <td class="text-right">

                                     851.80M

                             </td>
 </tr>
 <tr>
 <td>June 30, 2014</td>
 <td class="text-right">

                                     769.35M

                             </td>
 </tr>
 <tr>
 <td>March 31, 2014</td>
 <td class="text-right">

                                     620.54M

                             </td>
 </tr>
 <tr>
 <td>December 31, 2013</td>
 <td class="text-right">

                                     615.22M

                             </td>
 </tr>
 <tr>
 <td>September 30, 2013</td>
 <td class="text-right">

                                     431.35M

                             </td>
 </tr>
 <tr>
 <td>June 30, 2013</td>
 <td class="text-right">

                                     405.14M

                             </td>
 </tr>
 <tr>
 <td>March 31, 2013</td>
 <td class="text-right">

                                     561.79M

                             </td>
 </tr>
 <tr>
 <td>December 31, 2012</td>
 <td class="text-right">

                                     306.33M

                             </td>
 </tr>
 <tr>
 <td>September 30, 2012</td>
 <td class="text-right">

                                     50.10M

                             </td>
 </tr>
 <tr>
 <td>June 30, 2012</td>
 <td class="text-right">

                                     26.65M

                             </td>
 </tr>
 </tbody>
 </table>
 </div>
 </div>
 </div>
 </div>,
 <div class="panel panel-data">
 <div class="panel-header">
 <h3 class="panel-title">Revenues Definition</h3>
 </div>
 <div class="panel-content">
 <p>Revenues measure the total amount of value that a company brings in during a certain period. This is also considered the "top-line" of the income statement. Revenues are used for all operating expenses as well as other line items which eventually lead to the net income for the company. Revenue is an extremely important metric when analyzing a company. A company with efficient margins is able to turn revenues into the most net income.</p>
 <p><a class="text-blue" href="/glossary/terms/revenues">Read full definition.</a></p>
 </div>
 </div>]

In [5]:
import os
from bs4 import BeautifulSoup
import requests
import time
import sqlite3
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

url = "https://ycharts.com/companies/TSLA/revenues"

headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36"}
response = requests.get(url, headers=headers)

if response.status_code == 200:
    with open("revenues.html", "wb") as dataset:
      dataset.write(response.content) 
    print("HTML content downloaded successfully.")
else:
    print(f"Request failed with status code: {response.status_code}")

#Asi lo guardamos.
with open("revenues.html", "r", encoding ="utf-8") as file: # 'utf-8' is common but may need adjustment
  html_content = file.read()
soup = BeautifulSoup(html_content, "html.parser")

#Asi lo levantamos
tables = soup.find_all("table")
tables

# Extraer las dos primeras tablas 
table0 = tables[0]  
table1 = tables[1]

# Extrae los encabezados (headers) de la tabla
headers = []
for th in table0.find_all("th"):
    headers.append(th.text.strip())  # 'strip()' limpia espacios en blanco

# Extrae las filas de datos
data = []
for row in table0.find_all("tr")[1:]:  # Ignora el primer tr si es el header
    cells = row.find_all("td")
    row_data = [cell.text.strip() for cell in cells]
    data.append(row_data)
for row in table1.find_all("tr")[1:]:  # Ignora el primer tr si es el header
    cells = row.find_all("td")
    row_data = [cell.text.strip() for cell in cells]
    data.append(row_data)


# Crea un DataFrame a partir de los datos y encabezados
df = pd.DataFrame(data, columns=headers)

# Muestra el DataFrame resultante
print(df)

HTML content downloaded successfully.
                  Date    Value
0   September 30, 2024   25.18B
1        June 30, 2024   25.50B
2       March 31, 2024   21.30B
3    December 31, 2023   25.17B
4   September 30, 2023   23.35B
5        June 30, 2023   24.93B
6       March 31, 2023   23.33B
7    December 31, 2022   24.32B
8   September 30, 2022   21.45B
9        June 30, 2022   16.93B
10      March 31, 2022   18.76B
11   December 31, 2021   17.72B
12  September 30, 2021   13.76B
13       June 30, 2021   11.96B
14      March 31, 2021   10.39B
15   December 31, 2020   10.74B
16  September 30, 2020   8.771B
17       June 30, 2020   6.036B
18      March 31, 2020   5.985B
19   December 31, 2019   7.384B
20  September 30, 2019   6.303B
21       June 30, 2019    6.35B
22      March 31, 2019   4.541B
23   December 31, 2018   7.226B
24  September 30, 2018   6.824B
25       June 30, 2018   4.002B
26      March 31, 2018   3.409B
27   December 31, 2017   3.288B
28  September 30, 2017   2.985B
29       June 30, 2017   2.790B
30      March 31, 2017   2.696B
31   December 31, 2016   2.285B
32  September 30, 2016   2.298B
33       June 30, 2016   1.270B
34      March 31, 2016   1.147B
35   December 31, 2015   1.214B
36  September 30, 2015  936.79M
37       June 30, 2015  954.98M
38      March 31, 2015  939.88M
39   December 31, 2014  956.66M
40  September 30, 2014  851.80M
41       June 30, 2014  769.35M
42      March 31, 2014  620.54M
43   December 31, 2013  615.22M
44  September 30, 2013  431.35M
45       June 30, 2013  405.14M
46      March 31, 2013  561.79M
47   December 31, 2012  306.33M
48  September 30, 2012   50.10M
49       June 30, 2012   26.65M